.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
    /*background: #f0f4f7;*/
    height: 63px;
}

.searchForm{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__layout{
    display: flex;
    width: 100%;
    padding: 20px 0px 0px 90px
}

.layout__contact, .layout__login{
    width: 50%;
    display: flex;
}

.what{
    height: 29px;
    width: 350px;
    border: 0px;
}

.what:focus, .where:focus{
    outline: none;
}

.where{
    height: 29px;
    width: 450px;
    border: 0px;
}



.searchlabel{
    font-weight: bold;
}

.FormLayout{
    display: flex;
}

.formInput{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 10px;
    border: 1px solid #f0f4f7;
    padding: 9px;

}

.wherestate{
    position: absolute;
    list-style: none;
    margin-top: 59px;
    background-color: #fff;
    width: 313px;
     display: none;
}


.Searresultat{
    position: absolute;
    list-style: none;
    margin-top: 59px;
    background-color: #fff;
    width: 412px;
    display: none;
}

.searchbutton{
    height: 70px;
    border: 0px;
    cursor: pointer;
    color:#fff;
    background-color: #fe565d;
    padding: 0px 25px 0px 25px;
}

.formInputsearch{
    margin-left: 10px;
}

.sliderTitle{
    display: flex;
    justify-content: left;
    padding-left: 194px;
    margin-bottom: 15px;
    color: #fff;
}


.sectionhome{
    height: 500px;
    width: 1000vh;
}



.slickslider{
    width: 95%;
    height: 300px;
}

.navmenu{
    display: flex;
    list-style: none;
}

.navmenu > li {
    width: 70px;
    font-size: 14px;
    cursor: pointer;
}




.navmenu li ul {
    display: none;
    list-style: none;
    background-color: #ffffff;
     width: 100px;
    padding: 23px;
    font-size: 14px;
    z-index: 2000;
    position: relative;
}

.navmenu li ul li{
    padding: 6px 0px 6px 0px;
}

.navmenu li ul li:hover{
    color:red;
}







.navmenu li:hover ul{
    display: block;
}

.loginnavbar{
    width: 300px;
    display: flex;
    margin-top: 15px;
    margin-left: 27px;
}

.avatar{
    margin-right: 18px;
}

.add_button{
    border: 0;
     background-color: #fe5960;
    padding: 4px 20px 4px 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

.add_button:hover{
    background-color: #ffb01c;
}

.avatar_login{
    list-style: none;
    margin:0px;
    padding: 0px;
    cursor: pointer;
    z-index: 0;
    opacity: 0.9;
}

.menuconnexion{
    position: absolute;
    list-style: none;
    background: #fff;
    padding: 10px 0px 10px 0px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.avatar_login li > ul {
    display: none;
}
.avatar_login li:hover ul{
    display: block;
    display: flex;
}

