.headerbackground{
    background-color: #f0f4f7;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url("../../static/images/midtown-manhattan-new-york-city-usa.jpg");
}

.Categories{
    cursor: pointer;
    width: 10%;
    border: 1px solid #ffffff;
    width:100px;
    margin-right: 7px;
    background-color: #ffffff;
    padding: 6px 10px 1px 10px;
    height: 87px;
    text-align: center;
    border-radius: 10px;
}

.Categories:hover{
    background-color: #fe5960;
    color: white;
}

.categoriesList{
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-top: 52px;
}


.homebarre{
    position: relative;
    top: -140px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.blockContainer{
    width: 80%;
    height: 750px;
    background-color: white;
    border: 1px solid #f5f6f8;
    padding: 37px;
}


.featuredetails{
    display: flex;
    margin-left: 16px;
}

.featurecontain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.iconfeature{
    width: 50%;
}

.iconblock{
    width: 20%;
}

.titleblockfeature{
    width: 80%;
    font-size: 14px;
    text-align: left;
    color: #6a737d;
}
.titlelt{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}


.number{
    font-size: 42px;
    color: #6a737d;
    font-weight: bold;
}

.underline{
    height: 2px;
    background:  #f5f6f8;
    margin: 45px 0px 40px 0px;
    border:0;
}

